<div class="menu">
  <nav class="menu_list">
    <div class="menu_item_wrapper">
      <a class="menu_item" (click)="router.navigate(['home']); change();">
        Главная
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" (click)="router.navigate(['portfolio']); change();">
        Портфолио
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" (click)="router.navigate(['about-us']); change();">
        О нас
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" (click)="router.navigate(['contacts']); change();">
        Контакты
      </a>
    </div>
  </nav>
  <div class="icon_wrapper">
    <div class="icon burger" (click)="change()">
      <div class="b_line1"></div>
      <div class="b_line2"></div>
      <div class="b_line3"></div>
    </div>
  </div>
</div>
