<div class="menu">
  <nav class="menu_list">
    <div class="menu_item_wrapper">
      <a href="#" class="menu_item">
        Главная
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a href="#" class="menu_item">
        Магазин
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a href="#" class="menu_item">
        О нас
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a href="#" class="menu_item">
        Контакты
      </a>
    </div>
  </nav>
  <div class="icon_wrapper">
    <div class="icon burger" (click)="change()">
      <div class="b_line1"></div>
      <div class="b_line2"></div>
      <div class="b_line3"></div>
    </div>
  </div>
</div>
