<div class="wrapper">
	<div class="product" *ngFor="let product of allProducts; index as i;" [routerLink]="['product', product.id_product]">
		<div class="product_image">
			<img src="{{this.apiService.PHP_API_SERVER}}/backend/product_photos/{{product.photos[0]}}" width="100%" height="100%">
		</div>
		<div class="product_prize">
			{{product.price}} p.
		</div>
		<div class="product_name">
			{{product.name}}
		</div>
		<div class="product_description">
			{{product.short_description}}
		</div>
	</div>
</div>
